<header class="header">
    <div class="head">
        <img class="logo" src="./../../../../assets/fruits.png" alt="Fruits">
        <a class="a-login" (click)="login()">
            <span class="material-symbols-outlined icon-login animate__animated animate__shakeY animate__slower animate__infinite">login</span>
        </a>
    </div>
    <input type="checkbox" class="off-canvas-btn">
    <label class="off-canvas-burger"></label>
    <nav class="off-canvas-menu">
        <div class="off-canvas-menu-container">
            <a href="#" class="off-canvas-link">Inicio</a>
            <a href="#about-us" class="off-canvas-link">Acerca de</a>
            <a href="#fruits" class="off-canvas-link">Frutas</a>
        </div>
    </nav>
    <nav class="nav">
        <div class="nav-container">
            <a href="#">Inicio</a>
            <a href="#about-us">Acerca de</a>
            <a href="#fruits">Frutas</a>
        </div>
    </nav>
</header>
<main>
    <section id="#" class="section1-bg">
        <div class="div-fruits">
            <p class="section1-text-title animate__animated animate__backInDown animate__slower">Bienvenido a Fruits!!!</p>
            <p class="section1-text animate__animated animate__backInDown animate__slower">Dedicados a la venta de frutas por internet</p>
        </div>
    </section>
    <section id="about-us" class="section2-bg">
        <div class="section23-content">
            <h2 class="section23-title">Acerca de</h2>
            <p class="section23-body">Somos una empresa distribuidora de frutas de la mejor calidad, cuya finalidad es que nuestros clientes se sientan felices por comprar las diferentes ofertas de frutas que tenemos.
               En parte, ofrecemos el servicio más rápido de delivery para que los clientes tengan la confianza de comprar en cualquier momento.
            </p>
            <img class="section2-image" src="./../../../../assets/LogoFruits.png" alt="LogoFrutas">
        </div>
    </section>
    <section id="fruits" class="section3-bg">
        <div class="section23-content">
            <h2 class="section23-title">Frutas</h2>
            <p class="section23-body">Contamos con mucha variedad de Frutas para satisfacer el gusto de nuestros clientes.</p>
            <div class="container-fluid pt-5 pb-5">
                <div class="row gap-5 gap-sm-0">
                    <div class="p-0 fruit col-12 col-sm-6 col-md-6 col-lg-3">
                        <img class="section3-image" src="./../../../../assets/Fresa.png" alt="Fresa">
                    </div>
                    <div class="p-0 fruit col-12 col-sm-6 col-md-6 col-lg-3">
                        <img class="section3-image" src="./../../../../assets/Platano.png" alt="Platano">
                    </div>
                    <div class="p-0 fruit col-12 col-sm-6 col-md-6 col-lg-3">
                        <img class="section3-image" src="./../../../../assets/Kiwi.png" alt="Kiwi">
                    </div>
                    <div class="p-0 fruit col-12 col-sm-6 col-md-6 col-lg-3">
                        <img class="section3-image" src="./../../../../assets/Arandano.png" alt="Arandano">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="foter">
    <p>LinkedIn: <a class="footer-name" href="https://www.linkedin.com/in/mauriciocl/">Mauricio Carmen Liñan</a></p>
</footer>